doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.min.css")
        title E-kirpich
    body 

    // Loading - start
    .loading__bg.loading__bg--accent
    .loading__bg.loading__bg--black 
        .loading__anim 
            include img/logo-brick.svg
            include img/logo-name.svg
    // Loading - end

    // Header - start
    header.header 
        .header__wrap
            .header__logo-wrap 
                a.header__logo-link(href="#")
                    img.header__logo.lazyload(src="img/logo-placeholder.gif" data-src="img/logo.svg" alt="Логотип")
    // Header -end

    // Top - start
    include data/social.pug

    section.top 
        .top__wrap 
            .top__text-button-social-wrap 
                h1.top__title Теплая керамика от производителя
                p.top__subtitle Для строительства вашей мечты
                .top__button-social-wrap 
                    button.top__button.button Заказать
                    ul.top__social.social 
                        each item in socialData
                            li.social__item 
                                a.social__link(href="#")!= item
            .top__img-wrap
                picture
                    source(data-srcset="img/brick.webp" type="image/webp")
                    img.top__img.lazyload(src="img/brick-placeholder.gif" data-src="img/brick.png" alt="Кирпич")
        .top__separator
    // Top - end

    // Benefits - start
    include data/benefits.pug

    section.benefits 
        .benefits__wrap
            h2.benefits__title Преимущетсва теплой керамики
            .benefits__list
                each item in benefitsData
                    .benefits__item 
                        .benefits__item-icon-wrap
                            img.benefits__item-icon.lazyload(data-src="img/" + item.icon)
                        .benefits__item-text
                            h3.benefits__item-title #{item.title}
                            p.benefits__item-desc #{item.desc}
        .benefits__separator
    // Benefits - end

    // Why buy from us - start
    include data/why-buy-from-us.pug

    section.why-buy-from-us
        .why-buy-from-us__wrap 
            .why-buy-from-us__title Почему стоит покупать у нас
            .why-buy-from-us__list 
                each item, index in whyBuyFromUsData
                    .why-buy-from-us__item 
                        .why-buy-from-us__number-wrap 
                            span.why-buy-from-us__number #{index+1}
                        h3.why-buy-from-us__item-title #{item.title}
                        p.why-buy-from-us__item-desc #{item.desc}
        .why-buy-from-us__separator  
    // Why buy from us - end

    // CTA - start
    .cta 
        .cta__wrap 
            h2.cta__title Вы готовы сделать заказ?
            p.cta__text 
                span Скачать каталог можно 
                a.cta__link здесь
            p.cta__text Оставьте свои контактные данные, чтобы консультант связался с вами
            button.cta__button.button Оставить контакты
            p.cta__note Ожидайте звонка в течении часа после отправки данных
        .cta__separator
    // CTA - end

    // Footer - start
    footer.footer
        .footer__wrap
            .footer__contacts 
                h2.footer__title Контакты
                ul.footer__contact-list 
                    li.footer__contact-item 
                        img.footer__contact-icon.lazyload(data-src="img/phone.svg" alt="Телефон") 
                        a.footer__contact-info(href="tel:+380935391990") 38(093)539-19-90
                    li.footer__contact-item 
                        img.footer__contact-icon.lazyload(data-src="img/envelope.svg" alt="Конверт") 
                        a.footer__contact-info(href="mailto:e-kirpich@gmail.com") e-kirpich@gmail.com
                    li.footer__contact-item 
                        img.footer__contact-icon.lazyload(data-src="img/map-pin.svg" alt="Указатель на карут") 
                        a.footer__contact-info ул. Коперника, 21, Киев
                ul.footer__social.social
                    each item in socialData
                        li.social__item.social__item--dark
                            a.social__link.social__link--dark(href="#")!= item
            .footer__map-wrap 
                iframe.footer__map.lazyload(data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.1107837002687!2d30.477001414964462!3d50.45766169472747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce7dd32bc549%3A0xada444fdc35732cc!2z0YPQuy4g0JrQvtC_0LXRgNC90LjQutCwLCAyMSwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1631898271047!5m2!1sru!2sua" style="border:0;" allowfullscreen="")
        .footer__separate-line 
        ul.footer__social.footer__social--bottom.social
            each item in socialData
                li.social__item.social__item--dark
                    a.social__link.social__link--dark(href="#")!= item
        .footer__separator
    // Footer - end


    script(src="js/scripts.min.js") 
