doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.min.css")
        title E-kirpich
    body 

    // Header - start
    header.header 
        .header__wrap
            .header__logo-wrap 
                a.header__logo-link(href="#")
                    img.header__logo(src="img/logo.svg" alt="Логотип")
    // Header -end

    // Top - start
    include data/social.pug

    section.top 
        .top__wrap 
            .top__text-button-social-wrap 
                h1.top__title Теплая керамика от производителя
                p.top__subtitle Для строительства вашей мечты
                .top__button-social-wrap 
                    button.top__button.button Заказать
                    ul.top__social.social 
                        each item in socialData
                            li.social__item 
                                a.social__link(href="#")!= item
            .top__img-wrap
                picture 
                    source(srcset="img/brick.webp" type="image/webp")
                    img.top__img(src="img/brick.png" alt="Кирпич")
        .top__separator
    // Top - end

    // Benefits - start
    include data/benefits.pug

    section.benefits 
        .benefits__wrap
            h2.benefits__title Преимущетсва теплой керамики
            .benefits__list
                each item in benefitsData
                    .benefits__item 
                        img.benefits__item-icon(src="img/" + item.icon)
                        .benefits__item-text
                            h3.benefits__item-title #{item.title}
                            p.benefits__item-desc #{item.desc}
        .benefits__separator
    // Benefits - end

    // Why buy from us - start
    include data/why-buy-from-us.pug

    section.why-buy-from-us
        .why-buy-from-us__wrap 
            .why-buy-from-us__title Почему стоит покупать у нас
            .why-buy-from-us__list 
                each item, index in whyBuyFromUsData
                    .why-buy-from-us__item 
                        .why-buy-from-us__number-wrap 
                            span.why-buy-from-us__number #{index+1}
                        h3.why-buy-from-us__item-title #{item.title}
                        p.why-buy-from-us__item-desc #{item.desc}
        .why-buy-from-us__separator  
    // Why buy from us - end

    // CTA - start
    .cta 
        .cta__wrap 
            h2.cta__title Вы готовы сделать заказ?
            p.cta__text 
                span Скачать каталог можно 
                a.cta__link здесь
            p.cta__text Оставьте свои контактные данные, чтобы консультант связался с вами
            button.cta__button.button Оставить контакты
            p.cta__note Ожидайте звонка в течении часа после отправки данных
        .cta__separator
    // CTA - end


    script(src="js/scripts.min.js") 
